@mixin font-face($family, $weight, $style, $filename) {
  @font-face {
    font-family: #{$family};
    font-weight: #{$weight};
    font-style: #{$style};
    src: url("/fonts/#{$filename}.woff2") format("woff2");
    font-display: swap;
  }
}

@include font-face("Manrope", 400, normal, "manrope-regular");
@include font-face("Manrope", 600, normal, "manrope-600");
@include font-face("Manrope", 700, normal, "manrope-700");
@include font-face("Poppins", 300, normal, "poppins-300");
@include font-face("Poppins", 300, italic, "poppins-italic-300");
@include font-face("Poppins", 400, normal, "poppins-regular");
@include font-face("Poppins", 400, italic, "poppins-italic-regular");
@include font-face("Poppins", 600, normal, "poppins-600");
@include font-face("Poppins", 600, italic, "poppins-italic-600");
@include font-face("Poppins", 700, normal, "poppins-700");
@include font-face("Poppins", 700, italic, "poppins-italic-700");

@layer utilities {
  .manrope-semibold {
    font-family: "Manrope", sans-serif;
    font-weight: 600;
    font-style: normal;
  }

  .manrope-bold {
    font-family: "Manrope", sans-serif;
    font-weight: 700;
    font-style: normal;
  }

  .poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }

  .poppins-italic-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
  }

  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .poppins-italic-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
  }

  .poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }

  .poppins-italic-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
  }

  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }

  .poppins-italic-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
}
